fastapi
uvicorn
langchain
langchain-openai
langchain-deepseek
langgraph
pydantic
sqlalchemy
chromadb
python-multipart
aiohttp
redis
python-dotenv
tiktoken
beautifulsoup4
pypdf
docx2txt
sqlalchemy-utils
SQLAlchemy
databases
aiosqlite
